language: swift
osx_image: xcode10.0

cache: cocoapods

before_install:
  #- gem install cocoapods # Since Travis is not always on latest version
  #- export MDX_CI=YES
  #- rm Demo/Podfile.lock
  #- pod install --project-directory=Demo

script:
  - set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Demo/GitHubKit.xcworkspace -scheme GitHubKit-Demo -sdk iphonesimulator12.0 | xcpretty --test
  - pod lib lint
