language: swift
osx_image: xcode10.0

cache: cocoapods

before_install:
  - gem install cocoapods # Since Travis is not always on latest version
  - export MDX_CI=YES
  - pod install --project-directory=Demo

script:
  - set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Demo/GitHubKit.xcworkspace -scheme GitHubKit-Demo -sdk iphonesimulator10.0 ONLY_ACTIVE_ARCH=NO | xcpretty
  - pod lib lint
